/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
    color: white;
}
.bi {
    color: rgb(0, 0, 0);
}

#navbarNav a{
    color:white;
}
/* Define la animación de la máquina de escribir */
@keyframes typing {
    from { width: 0 }
}

/* Define el cursor intermitente */
@keyframes blink-caret {
    50% { border-color: transparent }
}

/* Estilo para la animación de la máquina de escribir */
.Typewriter__wrapper {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange; /* Cambia el color del cursor aquí */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; /* Espacio entre letras */
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}



header {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 100vh;

    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image in place while scrolling */
    filter: brightness(0.8); /* Adjust the brightness */
}